<nav class="overflow-x-scroll overflow-x-visible-ns flex flex-column items-center center divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pt4 db h-100 w-100 tc" style="box-shadow:none;">
		<img src="/img/Hansen_Law_logo.svg" alt="Hansen Law | Barristers & Solicitors" width="340"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex grey-3 bg-white relative-ns top-1">
		<li><a href="/#areas-of-law" class="ph3 pb2 no-underline db">Areas of Law</a></li>

		<li><a href="/about/" class="ph3 pb2  no-underline db">About</a></li>

		<li><a href="/blog/" class="ph3 pb2  no-underline db">Blog</a></li>

		<li><a href="/contact/" class="ph3 pb2  no-underline db">Contact</a></li>
	</ul>

</nav>
